.App {
    max-width: 800px;
    margin: 40px auto;
}
.button {
    background: none;
    border: 4px solid #ffff;
    padding: 125px 25px;
    border-radius: 4px;
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 5em;
}

button:hover {
    background: #2d545e;
    color: #f8ec07;
}
img {
    width: 180px;
    height: 180px;
}
.card_grid {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr;
    grid-gap: 20px;
}
