.App {
    max-width: 800px;
    margin: 10px auto;
}
.button {
    background: none;
    border: 3px solid #ffff;
    padding: 100px 20px;
    border-radius: 4px;
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 4em;
    width: 100px; 
    height: 50px;
}

button:hover {
    background: #2d545e;
    color: #f8ec07;
}
img {
    width: 190px;
    height: 190px;
}
.card_grid {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr;
    grid-gap: 20px;
}
.c_animation{
    height: 150px;
    width: 150px;
    float: top;
   
}

p{
    font-size: x-small;   
}
